./ermis/node_modules
./ermis/public/assets
./ermis/public/storage
./ermis/public/uploads
./ermis/vendor
./ermis/.env
./ermis/composer.json
./ermis/composer.lock
./ermis/config/database.php
./ermis/package-lock.json
./ermis/package.json
